<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title th:text="#{application.name}">App name here</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${user}" action="(Not used)" th:action="@{/authenticate}" method="post">
                <div class="container" >
                    <img th:src="@{/resources/images/applicationImage.jpg}" src=".....placeholder.jpg" alt="image"
                         width="50%"></img>
                    <!-- Login credentials-->
                    <br/>
                    <p><span th:text="#{username}">Username</span><label for="username"></label><input id="username" type="text" th:field="${user.username}" maxlength="100"/></p>
                    <p><span th:text="#{password}">Password</span><label for="password"></label><input id="password" type="password" th:field="${user.password}" maxlength="100"/></p>
                    <p><button class="btn btn-primary btn-lg" type="submit" th:text="#{label.login}">Login</button></p>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>