<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Business</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${business}" action="addSubmit (Not used)" th:action="@{/business/addSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add Business
                    </div>
                    <div>
                        <input type="hidden" th:field="${business.id}" />
                        <label>ID</label>
                        <input type="text" name="id" th:field="${business.id}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('id')}">
                            <li class="error" th:each="err : ${#fields.errors('id')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Username</label>
                        <input type="text" name="username" th:field="${business.username}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('username')}">
                            <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Name</label>
                        <input type="text" name="name" th:field="${business.name}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('name')}">
                            <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Phone Number</label>
                        <input type="text" name="phoneNumber" th:field="${business.phoneNumber}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('phoneNumber')}">
                            <li class="error" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Website</label>
                        <input type="text" name="website" th:field="${business.website}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('website')}">
                            <li class="error" th:each="err : ${#fields.errors('website')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Confirmation Letter Sent Date</label>
                        <input type="text" name="confirmLetterSentDate" th:field="${business.confirmLetterSentDate}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('confirmLetterSentDate')}">
                            <li class="error" th:each="err : ${#fields.errors('confirmLetterSentDate')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>liability Idemnification Sent Date</label>
                        <input type="text" name="liabilityIdemnificationSentDate" th:field="${business.liabilityIdemnificationSentDate}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('liabilityIdemnificationSentDate')}">
                            <li class="error" th:each="err : ${#fields.errors('liabilityIdemnificationSentDate')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Number Of Positions</label>
                        <input type="text" name="numberOfPositions" th:field="${business.numberOfPositions}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('numberOfPositions')}">
                            <li class="error" th:each="err : ${#fields.errors('numberOfPositions')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <input type="submit" value="Submit"/>

                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>