<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                     

                <h2>Business</h2>
                <a class="btn btn-primary btn-lg" th:href="@{/business/add}" th:text="Add" ></a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Username</th>
                            <th style="width: 150px;">Name</th>
                            <th style="width: 150px;">Phone Number</th>
                            <th style="width: 150px;">Website</th>
                            <th style="width: 150px;">Confirmation Letter Sent Date</th>
                            <th style="width: 150px;">liability Idemnification Sent Date</th>
                            <th style="width: 150px;">Number Of Positions</th>
                            <th style="width: 150px;"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="business : ${businesses}">

                            <td th:text="${business.id}"></td>
                            <td th:text="${business.username }"></td>
                            <td th:text="${business.name }"></td>
                            <td th:text="${business.phoneNumber}"></td>
                            <td th:text="${business.website}"></td>
                            <td th:text="${business.confirmLetterSentDate}"></td>
                            <td th:text="${business.liabilityIdemnificationSentDate}"></td>
                            <td th:text="${business.numberOfPositions}"></td>
                            <td><a class="btn btn-primary btn-lg"  th:href="@{/business/update(id=${business.id})}">Update</a>&nbsp;
                                <a class="btn btn-primary btn-lg"  th:href="@{/business/delete(id=${business.id})}">Delete</a>&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>