<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

 <div class="container" >            
            <!-- Header -->
            <form  th:if="${session.loggedInUser.userTypeCode == 1 || session.loggedInUser.username == student.username }" th:object="${student}" action="addSubmit (Not used)" th:action="@{/student/addSubmit/}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        <h1>Adding a Student</h1>
                    </div>
                <div class="row">
<!--                Main form-->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="hidden" th:field="${student.id}" />
                            <label>Student ID</label><br/>
                            <input type="text" name="StudentID" th:field="${student.studentId}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('studentId')}">
                            <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <br/>
                            <label>Username</label><br/>
                            <input type="text" name="Student ID" th:field="${student.username}" maxlength="100"/>
                            <br/>
                            <ul th:if="${#fields.hasErrors('username')}">
                            <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <label >First Name</label><br/>
                           <input type="text" name="Student ID" th:field="${student.firstName}" maxlength="100"/>
                           <br/>
                           <ul th:if="${#fields.hasErrors('firstName')}">
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <label >Last Name</label><br/>
                            <input type="text" name="Student ID" th:field="${student.lastName}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('lastName')}">
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <br/>
                            <label >Phone</label><br/>
                            <input type="text" name="StudentID" th:field="${student.phone}" maxlength="15"/>
                            <ul th:if="${#fields.hasErrors('phone')}">
                            <li class="error" th:each="err : ${#fields.errors('phone')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">     
                        <div class="form-group">                           
                            <label >Resume Location</label><br/>
                            <input type="text" name="Student ID" th:field="${student.resumeLocation}" maxlength="100"/>
                            <br/>
                            <ul th:if="${#fields.hasErrors('resumeLocation')}">
                            <li class="error" th:each="err : ${#fields.errors('resumeLocation')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <label >Prefer Work Type</label><br/>
                           <input type="text" name="Student ID" th:field="${student.preferredTypeOfWork}" maxlength="100"/>
                           <br/>
                           <ul th:if="${#fields.hasErrors('preferredTypeOfWork')}">
                            <li class="error" th:each="err : ${#fields.errors('preferredTypeOfWork')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <label >Cover Letter Submitted date</label><br/>
                            <input type="text" name="Student ID" th:field="${student.coverLetterSubmittedDate}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('coverLetterSubmittedDate')}">
                            <li class="error" th:each="err : ${#fields.errors('coverLetterSubmittedDate')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <br/>
                            <label>Resume Submitted Date </label><br/>
                            <input type="text" name="StudentID" th:field="${student.resumeSubmittedDate}" maxlength="100"/>
                            <ul th:if="${#fields.hasErrors('resumeSubmittedDate')}">
                            <li class="error" th:each="err : ${#fields.errors('resumeSubmittedDate')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
            </div>
            <input type="submit" value="Submit"/>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>