<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->                     
                <h2>On the job training Reflection</h2>
                <!--<a class="btn btn-primary btn-lg" th:href="@{/ojt/add}" th:text="Add" ></a>-->
                <table class="table table-striped" id="theData" >
                    <thead>
                        <tr>
                            <th style="width: 150px;">Student ID</th>
                            <th style="width: 150px;">username</th>
                            <th style="width: 150px;">Last Name</th>
                            <th style="width: 150px;">First Name</th>
                            <th style="width: 150px;">Resume Location</th>
                            <th style="width: 150px;">Preferred Type of work</th>
                            <th style="width: 150px;">Cover Letter Sub Date</th>
                            <th style="width: 150px;">Resume Submitted Date</th>
                            <th style="width: 150px;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.studentId }"></td>
                            <td th:text="${student.username }"></td>
                            <td th:text="${student.lastName}"></td>
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.resumeLocation}"></td>
                            <td th:text="${student.preferredTypeOfWork}"></td>
                            <td th:text="${student.coverLetterSubmittedDate}"></td>
                            <td th:text="${student.resumeSubmittedDate}"></td>
                            <td>
                                <a th:if="${session.loggedInUser.userTypeCode == 1 || session.loggedInUser.username == student.username }" class="btn btn-primary btn-lg"  th:href="@{/student/update(id=${student.id})}">Update</a>&nbsp;                                                            
                                <a th:if="${session.loggedInUser.userTypeCode != 2}" class="btn btn-primary btn-lg"  th:href="@{/student/delete(id=${student.id})}">Delete</a>&nbsp;                             
                            </td>
                        </tr>
                    </tbody>
                </table> 

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>