<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${placement}" action="addSubmit (Not used)" th:action="@{/placement/addSubmit}" method="get">
                <p class="error" th:text="${message}"></p>
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        <h4>Add Placement</h4>
                    </div>
                    <div>
                    <input type="hidden" th:field="${placement.id}" />
                    <fieldset>                        
                        <table class="table table-striped ">                             
                            <tr>
                                <th>Student First Name</th>
                                <td><select name="studentId" th:object ="${student}" >                                        
                                        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.id}+' : '+${student.firstName}+' '+${student.lastName}"></option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>Business Name</th>
                                <td>
                                    <select name="businessId" th:object ="${business}" >   
                                        
                                        <option th:each="business : ${businesses}" th:value="${business.id}" th:text="${business.id}+' : '+${business.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>                            
                                <th>Placement Date</th>               
                                <td> <input type="text" name="placementDate" th:field="${placement.placementDate}" maxlength="100"/>
                                 <ul th:if="${#fields.hasErrors('placementDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('placementDate')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <th>Notes</th>
                                <td><input type="text" name="notes" th:field="${placement.notes}" maxlength="100"/>
                                    <ul th:if="${#fields.hasErrors('notes')}">
                                        <li class="error" th:each="err : ${#fields.errors('notes')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>  

                            

                        </table>
                    </fieldset>

                    <input type="submit" value="Submit"/>

                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>