<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                     
                
                <h2>Businesses that have positions not filled</h2>
               
                
                <table id="theData" class="table table-striped">
                    <thead>
                        <tr>                                  
                            <th style="width: 50px;">Business Id</th>
                            <th style="width: 150px;">Business Name</th>                            
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="business : ${businessesList}">
                           
                            <td th:text="${business.id}"></td>    
                            <td th:text="${business.name}"></td>                             
                            

                        </tr>
                    </tbody>
                </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>