<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                     
                 <p th:text="${message}"></p>    
                <h2>Delete Placements</h2>               

                <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Placement id</th>       
                            <th style="width: 150px;">Student Name</th>
                            <th style="width: 150px;">Business Name</th>                             
                            <th style="width: 150px;">Placement Notes</th>
                            <th style="width: 150px;">Placement Date</th>
                            <th style="width: 150px;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="placement : ${placementList}">                           

                            <td th:text="${placement.id}"></td>
                            <td th:text="${placement.firstName}"></td> 
                            <td th:text="${placement.lastName}"></td>                           
                            <td th:text="${placement.notes}"></td>
                            <td th:text="${placement.placementDate}"></td>
                            <td><a class="btn btn-primary"  th:href="@{/placement/update(id=${placement.id})}">Update</a>&nbsp;
                                <a class="btn btn-primary"  th:href="@{/placement/delete(id=${placement.id})}">Delete</a>&nbsp;
                                
                            </td>

                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>