<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">               
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                      <h1><span th:text="#{placement.name}">Placements List</span></h1>
                 <p th:text="${message}"></p>    
                            

                <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Placement id</th>       
                            <th style="width: 150px;">Student Name</th>
                            <th style="width: 150px;">Business Name</th>                             
                            <th style="width: 150px;">Placement Notes</th>
                            <th style="width: 150px;">Placement Date</th>
                            <th style="width: 150px;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="placement : ${placementList}">                           

                            <td th:text="${placement.id}"></td>
                            <td th:text="${placement.firstName}"></td> 
                            <td th:text="${placement.lastName}"></td>                           
                            <td th:text="${placement.notes}"></td>
                            <td th:text="${placement.placementDate}"></td>
                            <td><a class="btn btn-primary"  th:href="@{/placement/update(id=${placement.id})}">Update</a>&nbsp;</td>

                        </tr>
                    </tbody>
                </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>